@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #46444e;
}

:root {
  --navigation-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.navbar {
  padding: 10px 30px;
  background-color: #333;
}

.navbar a {
  color: #fff;
  font-size: 1.2rem;
}
.navbar a:not(:last-child) {
  margin-right: 1.5rem;
}
.navbar a:hover {
  border-bottom: 3px solid white;
}

.logo {
  height: 50px;
  width: 50px;
  background-image: url('assets/javascript-logo.png');
  background-size: cover;
}

/* Main */
.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--navigation-height));
}

.home .left {
  flex: 3;
}

.home .left img {
  width: 100%;
  height: 100%;
}

.home .right {
  flex: 2;
  background-color: #faed26;
  text-align: end;
}

.home .right h2 {
  font-size: 4rem;
  padding: 2rem;
}

/* Projects */
.projects h3 {
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin: 40px auto;
  width: 300px;
  height: 230px;
  border-radius: 40px;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.15, 1.15);
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: 80%;
  border-radius: 40px 40px 0 0;
}

.card .dice img {
  height: inherit;
  object-fit: cover;
  border-radius: 40px;
}

.card .card_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  height: 40px;
  margin-top: -50px;
  color: #46444e;
}

/*Media Queries*/

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 350px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .home .right h2 {
    font-size: 3rem;
  }
  .cards-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .logo {
    height: 35px;
    width: 35px;
  }
  .navbar a {
    font-size: 1rem;
  }
  .home {
    flex-direction: column;
  }
  .home .right {
    order: 1;
  }
  .home .left {
    order: 2;
  }
  .projects h3 {
    padding-top: 0;
  }
}